:root {
    --background-img-container-page: url('/assets/images/start-screen-background.jpg');
    --color-primary: #F1CDB3;
    --color-light-xl: #fff;
    --color-dark-s: #cdcdcd;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-3xl: #292929;
    --color-light-s: #fafafa;
}

body {
    margin: 0;
    background: #aaa;
}

.page-wrapper {
    max-width: 100%;
}

.container-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 40px 0;
}

.start-header {
    width: 100%;
    /*background: ;*/
    background-image: var(--background-img-container-page), radial-gradient(ellipse, #5B483A, #262425);    
    background-size: 100%;
}

.start-header-wrapper {
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 908px;
}

.logo {
    width: 184px;
    text-align: justify;
}

.logo-name {
    font-family: Georgia;
    font-size: 32px;
    letter-spacing: 1.65px;
    color: var(--color-primary);
}

.logo-signature {
    display: block;
    font-family: Arial;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: var(--color-light-xl);
    margin-top: 10px;
}

.navigation-header {
    display: flex;
    padding: 0;
    width: 443px;
}

.navigation-header a {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--color-dark-s);
    padding-bottom: 3px;
    font-family: Arial;
    font-size: 15px;
}

.navigation-header a:hover::before {
    position: absolute;
    content: '';
    height: 3px;
    background-color: var(--color-primary);
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: 1s;
}

.navigation-header li {
    list-style: none;
    padding-right: 35px;
}

.navigation-header li:last-child {
    padding-right: 0px;
}

.start-screen {
    width: 100%;
}

.start-screen-block {
    display: flex;
    margin: 90px 40px 0;
}

.start-screen-content {
    width: 460px;
    margin: 163px 42px 204px 0;
}

.start-screen-content h2 {
    width: 310px;

    font-family: Georgia;
    font-size: 44px;
    color: var(--color-light-xl);
    font-weight: 400;
    margin: 0;
    line-height: 130%;
}

.start-screen-content p{
    font-family: Arial;
    font-size: 15px;
    color: var(--color-dark-s);
    line-height: 160%;
    margin-top: 42px;
    margin-bottom: 0;

}

.start-screen-content span {
    white-space: nowrap;
}

.start-screen-content button {
    font-family: Georgia;
    font-size: 17px;
    color: var(--color-dark-3xl);

    width: 207px;
    height: 52px;
    margin-top: 42px;
    background-color: var(--color-primary);
    padding: 15px 45px;
    border-radius: 100px;
    border-style: none;
}

.start-screen-puppy {
    display: block;
    width: 698px;
    height: 728px;
}

/*About block*/

.about {
    width: 100%;
    background-color: var(--color-light-xl);
    overflow: hidden;
}

.about-wrapper {
    width: 1280px;
    height: 588px;
    margin: auto;
    overflow: hidden;
}

.about-content {
    display: flex;
    width: 1200px;
    overflow: hidden;
    margin: 80px 80px 120px 0;
}

.about-text-content {
    
    display: flex;
    flex-direction: column;
    width: 430px;
    
    margin: 14px 0 14px 120px;
}

.about-text-content h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 130%;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: .06em;
    color: var(--color-dark-l);
    -webkit-text-stroke: 1px #000;
    margin-top: 0;
    margin-bottom: 12.5px;
}

.about-text-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
    margin: 12.5px 0;
}

.about-content img {
    width: 300px;
    height: 408px;
    margin-left: 217px;    
}

.about-text-content span {
    white-space: nowrap;   
}


/*our friends*/
.our-peats {
    width: 100%;
    background-color: #F6F6F6;
}

.our-peats-wrapper {
    overflow: hidden;
    max-width: 1280px;
    height: 877px;
    margin: auto;
}

.our-peats-content {
    display: flex;
    flex-direction: column;
    margin: 80px 40px 100px 40px;
}

.our-peats-content h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.08em;
    color: var(--color-dark-l);
    -webkit-text-stroke: 1px #000;

    margin: 0;
    text-align: center;
}

.slider-our-wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 60px;
    
}

.margin-second-element {
    margin: 0 40px;
}

.slider-our-wrapper::after {
    content: '\2192';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 190px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    font-size: 20px;
}

.slider-our-wrapper::before {
    content: '\2190';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 190px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    font-size: 20px;
}

.slider-element-our-wrapper {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 435px;
    align-items: center;
    border-radius: 9px;
    background-color: var(--color-light-s);
}

.slider-element-our-wrapper span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 6%;
    color: var(--color-dark-l);
    margin-top: 30px;
}

.button-cards-slider {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    border-radius: 100px;
    border: 1px solid #F1CDB3;
    padding: 15px 45px;
    margin-top: 30px;
    background-color: var(--color-light-s);
}

.button-other {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.05em;
    width: 261px;
    height: 52px;
    border: 1px solid #000;
    border-radius: 100px;
    background-color: var(--color-primary);
    padding: 15px 45px;
    margin: auto;
    margin-top: 60px;
}
