:root {
    --background-img-container-page: url('/assets/images/start-screen-background.jpg');
    --footer-puppy: url('/assets/images/footer-puppy.png');
    --icon-email: url('/assets/images/icon-email.svg');
    --icon-phone: url('/assets/images/icon-phone.svg');
    --icon-marker: url('/assets/images/icon-marker.svg');
    --color-primary: #F1CDB3;
    --color-primary-light: #fddcc4;
    --color-light-xl: #fff;
    --color-dark-s: #cdcdcd;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-3xl: #292929;
    --color-light-s: #fafafa;
    --color-light-l: #F6F6F6;
}

body {
    margin: 0;
    background: #aaa;
}

.page-wrapper {
    max-width: 100%;
}

.container-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 40px 0;
}

.start-header {
    width: 100%;
    background-image: var(--background-img-container-page), radial-gradient(ellipse, #5B483A, #262425);    
    background-size: 100%;
}

.start-header-wrapper {
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 908px;
}

.logo {
    width: 184px;
    text-align: justify;
}

.logo-name {
    font-family: Georgia;
    font-size: 32px;
    letter-spacing: 1.65px;
    color: var(--color-primary);
}

.logo-signature {
    display: block;
    font-family: Arial;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: var(--color-light-xl);
    margin-top: 10px;
}

.navigation-header {
    display: flex;
    padding: 0;
    width: 443px;
}

.navigation-header a {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--color-dark-s);
    padding-bottom: 3px;
    font-family: Arial;
    font-size: 15px;
}

.navigation-header a:hover::before {
    position: absolute;
    content: '';
    height: 3px;
    background-color: var(--color-primary);
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: 1s;
}

.navigation-header li {
    list-style: none;
    padding-right: 35px;
}

.navigation-header li:last-child {
    padding-right: 0px;
}

.start-screen {
    width: 100%;
}

.start-screen-block {
    display: flex;
    margin: 90px 40px 0;
}

.start-screen-content {
    width: 460px;
    margin: 163px 42px 204px 0;
}

.start-screen-content h2 {
    width: 310px;

    font-family: Georgia;
    font-size: 44px;
    color: var(--color-light-xl);
    font-weight: 400;
    margin: 0;
    line-height: 130%;
}

.start-screen-content p{
    font-family: Arial;
    font-size: 15px;
    color: var(--color-dark-s);
    line-height: 160%;
    margin-top: 42px;
    margin-bottom: 0;

}

.start-screen-content span {
    white-space: nowrap;
}

.btn {
    font-family: Georgia;
    font-size: 17px;
    color: var(--color-dark-3xl);

    /* width: 207px;
    height: 52px;
    margin-top: 42px;
    background-color: var(--color-primary); */
    padding: 15px 45px;
    border-radius: 100px;
    border-style: none;
    line-height: 130%;
    letter-spacing: 0.06em;

    transition: background-color 0.2s linear;
}

.btn:hover {
    background-color: var(--color-primary-light);
}

.start-screen__btn-wrapper {
    max-width: 208px;
    margin-top: 40px;
}

.start-screen-puppy {
    display: block;
    width: 698px;
    height: 728px;
}

/*About block*/

.about {
    width: 100%;
    background-color: var(--color-light-xl);
    overflow: hidden;
}

.about-wrapper {
    width: 1280px;
    height: 588px;
    margin: auto;
    overflow: hidden;
}

.about-content {
    display: flex;
    width: 1200px;
    overflow: hidden;
    margin: 80px 80px 120px 0;
}

.about-text-content {
    
    display: flex;
    flex-direction: column;
    width: 430px;
    
    margin: 14px 0 14px 120px;
}

.about-text-content h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 130%;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: .06em;
    color: var(--color-dark-l);
    -webkit-text-stroke: 1px #000;
    margin-top: 0;
    margin-bottom: 12.5px;
}

.about-text-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
    margin: 12.5px 0;
}

.about-content img {
    width: 300px;
    height: 408px;
    margin-left: 217px;    
}

.about-text-content span {
    white-space: nowrap;   
}


/*our friends*/
.our-peats {
    width: 100%;
    background-color: var(--color-light-l);
}

.our-peats-wrapper {
    overflow: hidden;
    max-width: 1280px;
    height: 877px;
    margin: auto;
}

.our-peats-content {
    display: flex;
    flex-direction: column;
    margin: 80px 40px 100px 40px;
}

.our-peats-content h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.08em;
    color: var(--color-dark-l);
    -webkit-text-stroke: 1px #000;

    margin: 0;
    text-align: center;
}

.slider-our-wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 60px;
    
}

.margin-second-element {
    margin: 0 40px;
}

.slider-our-wrapper::after {
    content: '\2192';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 190px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    font-size: 20px;
}

.slider-our-wrapper::before {
    content: '\2190';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 190px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    font-size: 20px;
}

.slider-element-our-wrapper {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 435px;
    align-items: center;
    border-radius: 9px;
    background-color: var(--color-light-s);
}

.slider-element-our-wrapper span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 6%;
    color: var(--color-dark-l);
    margin-top: 30px;
}

.our-peats__btn {
    margin: 30px 0;
}

.our-peats-content__btn {
    max-width: 265px;
    margin: auto;
    margin-top: 60px;
}

/* Модификаторы btn */
.btn_background-light-s {
    background-color: var(--color-light-s);
}

.btn_outline {
    outline: 2px solid #F1CDB3;
}

.btn_outline:hover {
    outline: 2px solid var(--color-primary-light);
}    

.btn_background-primary {
    background-color: var(--color-primary);
}

.button-other {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.05em;
    width: 261px;
    height: 52px;
    border: 1px solid #000;
    border-radius: 100px;
    background-color: var(--color-primary);
    padding: 15px 45px;
    margin: auto;
    margin-top: 60px;
}


/*help*/

.help {
    width: 100%;
    height: 611px;
    background-color: var(--color-light-xl);
    overflow: hidden;
}

.help__wrapper {
    max-width: 1280px;
    margin: auto;
}

.help__content {
    margin: 80px 40px 100px 40px;
}

.help__title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.08em;
    color: var(--color-dark-l);
    margin-bottom: 60px;
}

.help__list-wrapper {
    max-width: 1026px;
    margin: auto;
}

.help__list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.help__row {
    display: flex;
    flex-wrap: wrap;
}

.help__row_space-around {
    justify-content: space-around;
}

.help__row_margin {
    margin-top: 55px;
    margin-left: 25px;
    margin-right: 25px;
}

.help__row_space-between {
    justify-content: space-between;
}

.help__link {
    display: block;
    text-decoration: none;
}

.help__link-element-wrapper {
    display: flex;
    flex-direction: column;
}

.help__img {
    display: block;
    max-width: 60px;
    max-height: 60px;
    margin: auto;
    margin-bottom: 30px;
}

.help__name-card {
    display: block;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    font-weight: 400;
    margin: 0;
    color: var(--color-dark-l);
}

/* Донат */
.donation {
    width: 100%;
    background-color: var(--color-light-l);
}

.donation__wraper {
    max-width: 1280px;
    height: 462px;
    overflow: hidden;
    margin: 0 auto;
}

.donation__content-wraper {
    max-width: 915px;
    max-height: 282px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
}

.donation__img {
    padding: 10px 0;
    padding-right: 30px;
}

.donation__content {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.donation__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.08em;
    color: var(--color-dark-l);
    margin: 0;
}

.donation__subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin: 0;
}

.donation__btn {
    max-width: 350px;
    display: flex;
    padding: 10px 15px;
    border-radius: 9px;
}

.donation__logo-card {
    padding-right: 15px
}

.donation__number-card {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin: 0;
}

.donation__legal-information {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: var(--color-dark-l); 
}

/* Подвал */
.footer {
    width: 100%;
    background-image: var(--background-img-container-page), radial-gradient(ellipse, #5B483A, #262425);    
    background-size: 100%;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
}

.footer__content-wrapper {
    display: flex;
    flex-basis: 1200px;
    margin-top: 56px;
    justify-content: space-between;
}

.footer__content-wrapper::after {
    content: '';
    flex-basis: 300px;
    margin-top: auto;
    height: 310px;
    background-image: var(--footer-puppy);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    flex-basis: 279px;
}

.footer__title-contacts {
    margin: 0;
}

.footer__mail {
    text-decoration: none;
    color: var(--color-primary);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 40px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.footer__tel {
    text-decoration: none;
    color: var(--color-primary);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 40px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.footer__address {
    display: flex;
    flex-direction: column;
    flex-basis: 302px;
}

.footer__title-address {
    margin: 0;
}

.footer__address-element {
    color: var(--color-primary);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 40px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

/* Модификаторы */
.footer_title-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
}

.footer_element-flex {
    display: flex;
    align-items: center;
}

.footer_before-icon::before {
    content: '';
    display: block;
    flex-basis: 22px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
}

.footer_before-size::before {
    flex-basis: 40px;
    height: 32px;
}

.footer__mail_icon::before{
    background-image: var(--icon-email);    
}

.footer__tel_icon::before{
    background-image: var(--icon-phone);    
}

.footer__address-element_icon::before{
    background-image: var(--icon-marker);    
}

