:root {
    --background-img-container-page: url('/assets/images/start-screen-background.jpg');
    --color-primary: #F1CDB3;
    --color-light-xl: #fff;
    --color-dark-s: #cdcdcd;
}

body {
    margin: 0;
    background: #aaa;
}

.container-page {
    display: flex;
    flex-direction: column;
    width: 1280px;
    background: #fff;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 40px 0;
}

.start-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 908px;
    background-image: var(--background-img-container-page);
}

.logo {
    width: 184px;
    text-align: justify;
}

.logo-name {
    font-family: Georgia;
    font-size: 32px;
    letter-spacing: 1.65px;
    color: var(--color-primary);
}

.logo-signature {
    display: block;
    font-family: Arial;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: var(--color-light-xl);
    margin-top: 10px;
}

.navigation-header {
    display: flex;
    padding: 0;
    width: 443px;
}

.navigation-header a {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--color-dark-s);
    padding-bottom: 3px;
    font-family: Arial;
    font-size: 15px;
}

.navigation-header a:hover::before {
    position: absolute;
    content: '';
    height: 3px;
    background-color: var(--color-primary);
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: 1s;
}

.navigation-header li {
    list-style: none;
    padding-right: 35px;
}

.navigation-header li:last-child {
    padding-right: 0px;
}

.start-screen {
    width: 100%;
    /*background: radial-gradient(ellipse, #5B483A, #262425);*/
}

.start-screen-content {
    display: flex;
    margin: 90px 40px 0;
}

.content {
    width: 460px;
    margin: 163px 42px 204px 0;
}

.content h2 {
    width: 310px;

    font-family: Georgia;
    font-size: 44px;
    color: var(--color-light-xl);
    font-weight: 400;
    margin: 0;
    line-height: 130%;
}

.content p{
    font-family: Arial;
    font-size: 15px;
    color: var(--color-dark-s);
    line-height: 160%;
    margin-top: 42px;
    margin-bottom: 0;

}

.content span {
    white-space: nowrap;
}

.content button {
    font-family: Georgia;
    font-size: 17px;
    color: #292929;

    width: 207px;
    height: 52px;
    margin-top: 42px;
    background-color: var(--color-primary);
    padding: 15px 45px;
    border-radius: 100px;
    border-style: none;
}

.start-screen-puppy {
    display: block;
    width: 698px;
    height: 728px;
}